.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

  a:hover {
    color: #24c8db;
  }

h1 {
  text-align: center;
  margin: 0px;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  color: #ffffff;
  background-color: #0f0f0f98;

  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  background-color: #0f0f0f69;
  border-color: #396cd8;
}

input,
button {
  outline: none;
}


div.device {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  background-color: rgb(62, 62, 62);
  cursor: pointer;
  border-radius: 8px;
  transition: all;
  transition-duration: 150ms;
  align-items: center;
}

div.device h1 {
  font-size: 1.2em;
  margin: 0px;
  line-height: 100%;
  padding: 0px;
}

div.device:hover {
  background-color: rgb(92, 92, 92);
}


div.deviceList {
  display: grid;
  gap: 8px;
  grid-template-columns: 50% 50%;
}


div.warningContainer {
  background-color: rgb(68, 68, 68);
  border-radius: 8px;
  font-size: 18px;
  max-width: 400px;
  margin: 0px auto;
  padding: 12px 32px;
}




/* File Styles */
div.filesGrid {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr);
    max-width: 750px;
    margin: 0px auto;
}

div.filesGrid div {
    width: 100%;
    padding: 4px 0px;
    border-radius: 4px;
    background-color: rgb(77, 77, 77);
    border: solid 1px rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.filesGrid div h1 {
    margin-top: 4px;
    font-size: 18px;
}

div.filesGrid div p {
    font-size: 14px;
    line-height: 100%;
    margin: 0px;
    color: rgb(180, 180, 180);
}

/* Image Grid */
div.imageGrid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(5, 1fr);
    max-width: 750px;
    margin: 0px auto;
}

div.imageGrid div {
    width: 100%;
    border-radius: 4px;
    background-color: rgb(108, 108, 108);
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}


img.recoveredImage {
    width: 100%;
    border-radius: 4px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

/* Blocks Grid */
div.scanGrid {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(20, 1fr);
    max-width: 750px;
    margin: 0px auto;
}

div.scanGrid div {
    width: 100%;
    border-radius: 4px;
    background-color: rgb(108, 108, 108);
    aspect-ratio: 1/0.5;
}


/** Text Grid **/
div.textGrid {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0px auto;
}

div.textGrid div {
    width: 100%;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgb(77, 77, 77);
    border: solid 1px rgb(108, 108, 108);
    margin-bottom: 8px;
    word-break: break-all;
}


div.options {
    max-width: 600px;
    margin: 0px auto;
    margin-top: 32px;
    display: grid;
    width: 100%;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
}

div.options div {
    width: 100%;
    background-color: #1d1d1d;
    color: white;
    padding: 8px 0px;
    border-radius: 8px;
    cursor: pointer;
    transition: 120ms;
}

div.options div:hover {
    opacity: 80%;
}


div.inputGroup {
    width: 100%;
    max-width: 480px;
    display: flex;
    gap: 12px;
    margin: 0px auto;
    margin-top: 12px;
}

div.inputGroup div {
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: flex-start;
}

div.inputGroup textarea {
    width: 100%;
    height: 40px;
    background-color: rgb(50, 50, 50);
    border: solid 1px rgb(108, 108, 108);
    border-radius: 4px;
    padding: 8px;
    color: white;
    font-size: 14px;
    resize: none;
}

div.inputGroup  label {
    font-size: 14px;
    color: rgb(200, 200, 200);
    font-weight: 500;
}
